<html>
<body>
<form action = "http://localhost:5000/login" method = "post">
<p> marketing Spend </p>
<p><input type = "text" name = "ms"/></p>
<p> Administrative Spend </p>
<p><input type = "text" name = "as"/></p>
<p> research and development </p>
<p><input type = "text" name = "rd"/></p>

<label for = "states">choose your state</label>
<select name = "s">
<option value = "Newyork">Newyork</option>
<option value = "California">California</option>
<option value = "Florida">Florida</option>
</select>
<p> <input type = "submit" value = "send"/></p>
</form>
<b>{{showcase}}</b>
</body>
</html>

